body{
    padding: 100px;

}
.bank-title{
    text-align: center;
}
.submit-area{
    margin-top: 50px;
    padding: 50px;
    box-shadow: 10px 10px 30px palevioletred;
  border-radius: 50px;
}
#login{
    background-color: palevioletred;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: pink;
}
.withdraw{
    background-color: cadetblue;
}
.balance{
    background-color:gray;
}
.status{
    margin: 0 20px;
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px;
    color:white;
}